*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Titillium Web,sans-serif;
  
}
a:hover{
  text-decoration: underline;
}
.ourbrand{
  display: grid;
  grid-auto-flow: column; 
  scroll-behavior: auto;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scrollbar-width: none;
}
.ourbrand::-webkit-scrollbar{
    display: none;
}

